<footer class="td-footer row d-print-none">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
        <!-- You can add custom footer content here if needed -->
      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">
        <!-- You can add custom footer content here if needed -->
      </div>
      <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        <small class="text-black">&copy; {{ now.Year}} {{ .Site.Title }}. All Rights Reserved.</small>
      </div>
    </div>
  </div>
</footer> 